@import './../../../scss/variables';

.divination-button {
    background-color: $dark-blue;
    color: white;
    padding: 15px 25px;
    font-size: 30px;
    border: none;
    border-radius: 15px;

    &:hover {
        cursor: pointer;
        background-color: $soft-blue;
    }
}