@import './../../scss/variables';

.divination-description-wrapper {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 15px;

    .divination-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .name {
            margin: 0;
        }

        .description {
            margin: 0;
        }

        .image {
            width: 100%;
            height: auto;
        }

        .button {
            background-color: $red;
            color: white;
            padding: 10px 20px;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                background-color: $dark-red;
            }
        }
    }
}