.info-panel {
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 420px;
    height: 100px;
    background-color: #cecece;
    border-radius: 10px;
    padding: 15px;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
}