.header-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;

    .header {
        padding: 15px;
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 15px;
        align-items: center;

        a {
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .title {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: 1.5rem;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .menu,
        .buttons {
            display: flex;
            gap: 15px;
        }

        .buttons {
            .userAvatar {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
        }
    }
}

.header-wrapper.hide {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;

    .header {
        position: relative;

        .close {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}