@import "./../../scss/variables";

.warning-popup-wrapper {
    background-color: $red;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    font-size: x-large;

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}