@media (min-width: 768px) {

    html,
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: url('./assets/magic-desk.png');
        // background-image: url('./assets/magicDesk.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .app {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767px) {}